<tg-link
	class="component"
	text="Link default"
></tg-link>
<tg-link
	class="component"
	text="Link default underline"
	type="default-underline"
></tg-link>
<tg-link
	class="component"
	text="Link small"
	type="small"
></tg-link>
<tg-link
	class="component"
	text="Link small underline"
	type="small-underline"
></tg-link>
<tg-link
	class="component"
	text="Link button"
	type="button"
></tg-link>
<tg-link
	class="component"
	text="Link small button"
	type="small-button"
></tg-link>
<tg-link
	class="component"
	text="Custom Style"
	customStyles="color: red; text-decoration: underline; text-transform: uppercase"
></tg-link>
