<tg-button 
	class="component"
	text="Botão padrão"
></tg-button>
<tg-button 
	class="component"
	[disabled]="true"
	text="Botão padrão desabilitado"
></tg-button>
<tg-button
	class="component"
	[small]="true"
	text="Botão pequeno"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	[small]="true"
	text="Botão pequeno desabilitado"
></tg-button>
<tg-button
	class="component"
	text="Botão de sucesso"
	type="success"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	text="Botão de sucesso desabilitado"
	type="success"
></tg-button>
<tg-button
	class="component"
	[small]="true"
	text="Botão de sucesso pequeno"
	type="success"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	[small]="true"
	text="Botão de sucesso pequeno desabilitado"
	type="success"
></tg-button>
<tg-button
	class="component"
	text="Botão outline"
	type="outline-main"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	text="Botão outline desabilitado"
	type="outline-main"
></tg-button>
<tg-button
	class="component"
	[small]="true"
	text="Botão outline pequeno"
	type="outline-main"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	[small]="true"
	text="Botão outline pequeno desabilitado"
	type="outline-main"
></tg-button>
<tg-button
	class="component"
	text="Botão outline de sucesso"
	type="outline-success"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	text="Botão outline de sucesso desabilitado"
	type="outline-success"
></tg-button>
<tg-button
	class="component"
	[small]="true"
	text="Botão outline de sucesso pequeno"
	type="outline-success"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	[small]="true"
	text="Botão outline de sucesso pequeno desabilitado"
	type="outline-success"
></tg-button>
<tg-button
	class="component"
	text="Botão preto"
	type="black"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	text="Botão preto desabilitado"
	type="black"
></tg-button>
<tg-button
	class="component"
	[small]="true"
	text="Botão preto pequeno"
	type="black"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	[small]="true"
	text="Botão preto pequeno desabilitado"
	type="black"
></tg-button>
<tg-button
	class="component"
	text="Botão branco"
	type="white"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	text="Botão branco desabilitado"
	type="white"
></tg-button>
<tg-button
	class="component"
	[small]="true"
	text="Botão branco pequeno"
	type="white"
></tg-button>
<tg-button
	class="component"
	[disabled]="true"
	[small]="true"
	text="Botão branco pequeno desabilitado"
	type="white"
></tg-button>
<tg-button
	class="component"
	customStyles="background-color: red; text-decoration: underline; font-style: italic"
	text="Botão com estilo customizado"
></tg-button>